### Jetbrains IDE
__pycache__/

stored_models
node_classifier/data
node_classifier/model
node_classifier/cv_model
node_classifier/cv_model_other_kges
node_classifier/results_processed
node_classifier/tmp
Embeddings/